/* =====================================

========================================*/
/* Laptop L */
@media only screen and (max-width: 1440px) {
  .Nav-Corner {
    top: 18.2%;
  }
  .header .nav .MEN .dropdown {
    left: -459px;
  }
  .Advertisement .img2 img {
    height: 230px;
    margin-bottom: 10px;
  }
  .LASR-SEEN .col-xl-1 {
    padding: 10px;
  }
  .related-products-item .list-content {
    height: 460px;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: 260px;
  }
  .MAY-ALSO-LINK .list-content .card-body .card-title {
    flex-direction: column;
  }
  .MAY-ALSO-LINK .list-content {
    height: 460px;
  }
}
/* Laptop  */
@media only screen and (max-width: 1024px) {
  .header .nav .WOMEN .dropdown {
    width: 757px;
    left: -174px;
  }
  .header .nav .MEN .dropdown {
    width: 935px;
    left: -458px;
  }
  .header.shop .sub-PHONES {
    width: 740px;
    left: 211px;
    top: -15px;
  }
  .header.shop .sub-category {
    width: 750px;
    left: 211px;
  }
  .header.shop .sub-JEWELRY {
    width: 750px;
    left: 211px;
    top: -233px;
  }
  .Nav-Corner {
    top: 19.6%;
  }
  .Advertisement .img2 img {
    height: 200px;
    margin-bottom: 10px;
  }
  .SAVED-ITEM .card-body {
    padding: 10px;
  }
  .SAVED-ITEM .card-title {
    flex-direction: column;
    font-size: 13px;
  }
  .SAVED-ITEM .product-img img {
    height: 200px;
  }
  .related-products-item .list-content .card-body .card-title {
    flex-direction: column;
  }
  .product-name .cart-total {
    padding: 15px;
  }
  .LASR-SEEN .card img {
    height: 200px;
  }
  .Lest-Seen .card-img-top {
    height: 200px;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: 213px;
  }
  .MAY-ALSO-LINK .list-content {
    height: 414px;
  }
  .shop-list .list-content .product-img img {
    height: 275px;
  }
  .shop-list .list-content .card-body .card-title {
    flex-direction: column;
  }
  .shop-list .list-content .card-body .btn {
    padding: 9px;
  }
  .shop-list .list-content {
    height: 415px;
  }
}
/* Tablet Screen */
@media only screen and (max-width: 768px) and (max-width: 991px) {
  .section {
    padding: 50px 0px;
  }
  .shopping-cart .nav2 ul {
    width: 100%;
  }
  .shop.single {
    padding: 30px 0 50px 0;
  }
  .section-title {
    margin-bottom: 50px;
    padding: 0px 109px;
  }
  .section-title h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }
  .shop-services.section {
    padding: 45px 0 0px 0;
  }

  .SAVED-ITEM .list-content .product-img img {
    height: 255px;
  }
  .breadcrumbs {
    padding: 20px 0;
  }
  .blog-single.grid .pagination {
    float: none;
    text-align: center;
  }

  .header.shop .right-bar .sinlge-bar .single-icon {
    font-size: 18px;
  }
  .header .shopping .shopping-item {
    top: 62px;
  }
  .header .shopping .dropdown-cart-header a {
    font-size: 12px;
  }
  .header .shopping .dropdown-cart-header span {
    font-size: 12px;
  }
  .header .shopping-list h4 a {
    font-weight: 500;
    font-size: 13px;
  }
  .header .shopping-item .total span {
    font-size: 12px;
    font-weight: 500;
  }
  .header .shopping-item .total .total-amount {
    font-size: 13px;
    font-weight: 500;
  }
  .header .shopping-item .bottom .btn {
    padding: 8px 20px;
  }
  .header.shop .search-bar {
    height: 45px;
  }
  .header.shop .nice-select {
    height: 44px;
    line-height: 44px;
    font-size: 13px;
  }
  .header.shop .nice-select .list li {
    font-size: 13px;
  }
  .header.shop .search-bar .btnn {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
  }
  .header.shop .search-bar {
    width: 445px;
  }
  .header.shop .search-bar input {
    padding: 0 52px 0 20px;
    width: 264px;
    height: auto;
    font-size: 13px;
  }
  .header.shop .all-category {
    display: none;
  }
  .navbar-nav {
    display: inline-block !important;
  }
  .header.shop .nav li {
    display: inline-block;
    margin-right: 2px;
  }
  .header.shop .nav li a {
    font-size: 14px;
    padding: 15px 15px;
  }
  .header .nav li a i {
    font-size: 8px;
  }
  .header.shop .nav li .new {
    font-size: 8px;
    left: 21px;
    top: 0px;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
  }
  .header.shop .nav .dropdown li {
    display: block;
  }

  .hero-area2 .single-slider {
    height: 400px;
  }
  .hero-area2 .single-slider .content {
    padding: 90px 0px 0px 0px;
  }
  .hero-area2 .single-slider .content .sub-title {
    font-size: 14px;
  }
  .hero-area2 .single-slider .content .title {
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 12px;
  }
  .hero-area2 .single-slider .content .des {
    color: #fff;
    line-height: 20px;
  }
  .hero-area2 .single-slider .content .button .btn {
    padding: 7px 18px;
    margin-top: 22px;
    font-size: 12px;
  }

  .shop-home-list .shop-section-title {
    margin-top: 20px;
  }

  .shop-services {
    padding: 50px 0;
  }
  .shop-services .single-service {
    padding: 12px 0 12px 65px;
  }
  .shop-newsletter .newsletter-inner input {
    width: 380px;
  }

  .shopping-cart .table td {
    padding: 20px;
  }
  .shopping-cart .qty .button .btn {
    width: 38px;
  }
  .shopping-cart .table .qty {
    padding: 0;
  }
  .shopping-cart .total-amount .left .coupon form .btn {
    display: inline-block;
    height: 48px;
    margin-left: 0px;
    width: 220px;
    margin-top: 10px;
    display: block;
  }
  .contact-us .form-main {
    padding: 30px;
  }
  .contact-us .form .button .btn {
    height: auto;
    padding: 15px 22px;
  }
  #myMap {
    height: 300px;
    width: 100%;
  }
  .contact-us .single-head {
    padding: 30px;
    margin-top: 30px;
  }
  /* .about-us .about-content {
    padding: 0;
    margin-bottom: 30px;
  } */
  /* .error-page .error-inner h2 {
    font-size: 100px;
  } */
  .footer .copyright .left {
    float: none;
    text-align: center;
  }
  .footer .copyright .right {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
  .footer .single-footer {
    padding: 20px 0;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: auto;
  }
  .header .nav .MEN .dropdown {
    width: 660px;
    position: absolute;
    top: 100%;
    left: -194px;
    max-height: 500px;
    overflow-x: scroll;
  }
  .header .nav .WOMEN .dropdown {
    width: 660px;
    max-height: 500px;
    overflow-x: scroll;
    left: -89px;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 768px) {
  .header.shop .top-left {
    justify-content: center;
    border-bottom: solid 1px #fff;
    margin: 0px;
    padding: 5px 0px;
  }
  .Lest-Seen .card-img-top {
    height: 150px;
  }
  .Lest-Seen .col-md-2 {
    padding: 10px;
  }
  .shop.login .Register {
    margin-bottom: 50px;
  }
  .filter-size .box-size .size-select label span {
    padding: 3px 5px;
  }
  .LASR-SEEN .card img {
    height: 150px;
  }
  .header.shop .right-content .list-main .nice-select {
    width: 100px;
  }
  .header.shop .right-content .list-main .nice-select .list {
    top: 156%;
  }
  .testimonial .img img {
    width: 29%;
  }
  .Nav-Corner {
    top: 29.6%;
  }
  .header .search-form {
    top: 61px;
    left: -189px;
  }
  .header.shop .right-content,
  .header.shop .right-content .list-main {
    justify-content: space-evenly;
    padding: 3px 0px;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: 250px;
  }
  .MAY-ALSO-LINK .list-content {
    height: 445px;
  }
  .MAY-ALSO-LINK .list-content .card-body .card-title {
    flex-direction: column;
  }
  /* index > Women */
  .product-large img {
    height: auto;
  }
  .product-large {
    height: auto;
  }
  .product-name .col-lg-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* INDEX -Advertisement */
  .Advertisement .img2 img {
    height: auto;
  }
  .Advertisement .col-sm-12 {
    padding: 10px 0px;
  }
  /* My-account */
  .woo-account-page .LASR-SEEN .row2 {
    display: none;
  }

  .woo-account-page .woocommerce-MyAccount-content h2:before {
    left: 44%;
    width: 100px;
  }
  /* My-account */

  .Men-Banner .product-large {
    margin: auto;
  }

  .breadcrumbs {
    padding: 90px 0 90px;
  }
  .shop-list .list-content .product-img img {
    height: 340px;
  }
  .shop-list .LAST-ORDERS .list-content .product-img img {
    height: 440px;
  }
  .shop-list .LAST-ORDERS .list-content {
    height: 573px;
  }
  .related-products-item .list-content .product-img img {
    height: 450px;
  }
  .related-products-item .list-content {
    height: 625px;
  }
  .products-item .col-lg-6 {
    padding: 5px 15px;
  }
  .Advertisement {
    margin: 50px 0;
  }
  .woo-account-page .woocommerce-MyAccount-content,
  .woo-account-page .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
  }
  .woo-account-page .Myorders .card {
    width: 100%;
  }
  .woo-account-page .Myorders .PAGE {
    width: 100%;
  }
  .woo-account-page #MyFavourites .card,
  .woo-account-page #NOTIFCATIOUNS .card {
    width: 100%;
  }
  .breadcrumbs h2 {
    font-size: 28px;
  }
  .shop.single {
    padding: 0px 0 30px 0;
  }
  .shop-services.section {
    padding: 40px 0 0 0;
  }
  .blog-single.grid .pagination {
    float: none;
    text-align: center;
    margin-top: 12px;
  }
  .site-header .header-bottom {
    width: 100%;
    z-index: 333;
    position: absolute;
    position: relative;
    padding-bottom: 20px;
    background: #333;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }
  .slicknav_btn {
    background: transparent;
    padding: 0;
    margin: 6px 0 0;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #8fb339;
  }
  .skill-image {
    display: none;
  }
  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .slicknav_nav li a {
    margin: 0;
    color: #333;
    background: transparent;
    overflow: hidden;
  }
  .slicknav_nav li a i {
    display: none;
  }
  .slicknav_nav li:hover a {
    color: #8fb339;
    background: transparent;
  }
  .slicknav_nav li:hover {
    background: transparent;
  }
  .slicknav_nav li .dropdown li:hover {
    background: transparent;
  }
  .slicknav_nav li .dropdown li a {
    color: #555;
    background: transparent;
  }
  .slicknav_nav li .dropdown li a:hover {
    color: #8fb339;
    background: transparent;
  }
  .slicknav_nav li .slicknav_item {
    background: transparent;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 0;
    margin: 0;
    padding: 6px 0;
    font-weight: 500;
  }
  .slicknav_nav li:last-child a {
    padding-bottom: 0px;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #8fb339;
    box-shadow: none;
    text-shadow: none;
  }
  .slicknav_nav .slicknav_arrow {
    color: #8fb339;
  }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .slicknav_nav li .slicknav_item:hover {
    background: transparent;
  }
  .slicknav_nav li .new {
    display: none !important;
  }
  .header.shop .search-bar-top {
    display: none;
  }
  .header.shop .right-bar {
    display: none;
  }

  .header .middle-inner {
    width: 100%;
  }
  .header.sticky .middle-inner {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    animation: fadeInDown 1s both 0.2s;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  /* Header Search */
  .header.shop .search-top {
    display: block;
    position: absolute;
    right: 50px;
    top: 4px;
  }
  .header.shop .logo {
    margin: 0;
    width: 15%;
    margin-left: 22px;
  }
  .section {
    padding: 50px 0px;
  }
  .section-title {
    margin-bottom: 30px;
    padding: 0px 20px;
  }
  .section-title h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }
  .breadcrumbs {
    padding: 20px 0;
  }

  .header.shop .search-bar {
    width: 445px;
  }
  .header.shop .search-bar input {
    padding: 0 52px 0 20px;
    width: 264px;
  }
  .header.shop .all-category {
    display: none;
  }
  .header .header-inner {
    display: none;
  }

  .hero-area4 .big-content {
    height: 300px;
    margin-top: 20px;
  }
  .hero-area4 .big-content .inner {
    padding: 0;
    padding-right: 30px;
    background: #ffffffba;
    padding: 25px;
    left: 0;
    height: 100%;
  }
  .hero-area4 .big-content .title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 22px;
  }
  .hero-area4 .big-content .des {
    font-size: 13px;
    color: #333;
    line-height: 21px;
  }
  .hero-area4 .big-content .button {
    margin-top: 20px;
  }
  .hero-area4 .big-content .button .btn {
    padding: 6px 17px;
    font-size: 12px;
  }
  .hero-area4 .owl-carousel .owl-nav div {
    height: 32px;
    width: 35px;
    line-height: 32px;
    font-size: 11px;
    background: #3336;
  }
  .hero-area4 .owl-carousel .owl-nav {
    margin-top: -16px;
  }
  .product-area .nav-tabs .nav-item {
    margin-bottom: 10px;
  }

  .shop-home-list .shop-section-title {
    margin-top: 20px;
  }
  .shop-home-list .single-list .content {
    padding: 0;
    padding: 20px;
    text-align: center;
  }
  .shop.single .product-des .size {
    margin-top: 10px;
  }
  .shop.single .product-des .short h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    line-height: 24px;
  }
  .shop.single .product-des {
    margin-top: 20px;
  }
  .shop.single .product-des .rating {
    margin-top: 6px;
  }
  .shop.single .product-des .price {
    font-size: 17px;
    margin-top: 10px;
  }
  .shop.single .product-des .short .description {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 11px;
  }
  .shop.single .product-des .color h4 {
    font-size: 15px;
    font-weight: 500;
  }
  .shop.single .add-to-cart .btn {
    height: 42px;
    padding: 0 35px;
    margin-right: 5px;
    margin-top: 6px;
  }
  .shop.single .form .form-group textarea {
    height: 150px;
  }
  .shop.single .product-des .color ul li a {
    margin-bottom: 8px;
  }
  .shop.single .quantity .input-number {
    height: 42px;
  }
  .shop.single .nav-tabs li a {
    padding: 8px 22px;
  }
  .shop.single .single-des p {
    font-size: 14px;
    font-weight: 400;
  }
  .shop.single .single-des {
    margin-top: 18px;
  }
  .shop.single .single-des ul li {
    margin-bottom: 4px;
  }
  .shop.single .rating-des {
    padding: 17px 20px 17px 107px;
  }
  .shop.single .form .form-group button {
    padding: 14px 40px;
  }

  .shop-services {
    padding: 50px 0;
  }
  .shop-services .single-service {
    padding: 42px 0 18px 0;
    text-align: center;
  }
  .shop-services .single-service i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    top: 0;
    left: 50%;
    margin-left: -20px;
  }
  .shop-services.home {
    padding: 25px 0;
  }
  .shop-newsletter .newsletter-inner input {
    width: 330px;
    height: 42px;
    padding: 0 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  .shop-newsletter .newsletter-inner .btn {
    height: 42px;
    padding: 10px 15px;
    width: 330px;
    border-radius: 30px;
    left: 0;
    display: block;
  }

  .blog-single .blog-title {
    font-size: 22px;
    margin: 25px 0 15px 0;
  }
  .blog-single blockquote {
    padding: 20px 30px 20px 65px;
  }

  .blog-single .comments .single-comment.left {
    margin-left: 0;
  }
  .blog-single .reply form {
    padding: 0;
    border: none;
  }
  .blog-single .reply .form-group {
    margin-bottom: 15px;
  }
  .blog-single .reply .form-group input {
    height: 42px;
  }
  .blog-single .reply .form-group textarea {
    height: 120px;
  }
  .blog-single .reply .button .btn {
    height: 45px;
    border: none;
    padding: 0px 20px;
  }
  .cart-information .single-info h4 {
    font-size: 14px;
  }
  .shopping-summery thead {
    display: none;
  }
  .shopping-cart .table td {
    padding: 0.75rem;
    /* vertical-align: top; */
    border-top: 1px solid #e9ecef;
    display: block;
    height: auto;
    text-align: left !important;
    padding-left: calc(50% + 20px) !important;
    width: 100%;
    position: relative;
    padding-left: 91px;
    margin-top: 5px;
  }
  .shopping-cart .qty .button .btn {
    padding: 0;
    width: 35px;
  }
  .shopping-cart .table td::before {
    content: attr(data-title);
    display: block;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-bottom: 1px solid #e6ebee;
    background: #8fb339;
    color: #fff;
    border: none;
  }
  .shopping-cart .table td {
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .shopping-summery thead tr th {
    padding: 10px;
  }
  .shopping-cart .total-amount .right {
    padding-left: 0px;
  }
  .shopping-cart .total-amount .left {
    margin-bottom: 30px;
  }
  .shopping-cart .total-amount {
    margin-top: 30px;
  }
  .shopping-cart .total-amount .left .coupon form .btn {
    display: inline-block;
    height: 48px;
    margin-left: 0px;
    width: 220px;
    margin-top: 10px;
    display: block;
  }

  .shop.login {
    padding: 50px 0;
  }
  .shop.login .login-form h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .pagination .pagination-list li a {
    padding: 4px 12px;
  }
  .pagination .pagination-list li a {
    padding: 4px 12px;
  }
  .shop-list .list-content {
    margin-top: 30px;
    height: 473px;
  }
  .shop-list .list-content .btn {
    height: auto;
    line-height: auto;
    padding: 12px 32px;
  }

  .single-product {
    margin-top: 30px;
  }

  .contact-us .form-main {
    padding: 30px;
  }
  .contact-us .form .button .btn {
    height: auto;
    padding: 14px 20px;
  }
  .contact-us .form .form-group input {
    height: 45px;
  }
  .contact-us .title h3 {
    font-size: 23px;
  }
  #myMap {
    height: 300px;
    width: 100%;
  }
  .contact-us .single-head {
    padding: 30px;
    margin-top: 30px;
  }
  .contact-us .form .form-group input {
    height: 40px;
  }

  .footer .footer-top {
    padding: 15px 0px;
  }
  .footer .copyright .left {
    float: none;
    text-align: center;
  }
  .footer .copyright .right {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
  .footer .single-footer {
    padding: 20px 0;
  }
  .small-banner .col-md-6,
  .small-banner .col-12 {
    padding: 20px 10px !important;
  }
}
/* Mobile Screen */
@media only screen and (max-width: 425px) {
  .header.shop .right-content .list-main .nice-select {
    padding: 0px;
    width: 53px;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: 230px;
  }
  .shop.login .Reg-h {
    margin-top: 25px;
  }
  .LASR-SEEN .card img {
    height: 110px;
  }
  .woo-account-page .Account .PAGES {
    width: 50%;
  }
  /* slider */
  .hero-slider .carousel img {
    height: auto;
  }
  .hero-slider button:not(:disabled) {
    width: 60px;
  }
  .carousel-indicators {
    margin-bottom: 0rem;
  }
  .Lest-Seen .card-img-top {
    height: 165px;
  }
  .Lest-Seen .col-4 {
    padding: 8px;
  }
  .Lest-Seen .card-body {
    padding: 10px;
  }
  .header .search-form {
    left: -185px;
    top: 40px;
  }
  /* header */
  .header.shop .right-content {
    padding: 4px 0px;
  }
  .header.shop .top-left {
    margin: 0px;
    text-align: center;
    border-bottom: solid 1px #fff;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
  }
  .header.shop .right-content,
  .header.shop .right-content .list-main {
    justify-content: space-between;
  }
  .related-products .col-lg-6 {
    padding-top: 5px;
  }
  .product-name .size-select label span {
    padding: 3px 5px;
    border: solid 1px #333;
    font-size: 13px;
  }

  /* index >>  nav bar */
  .Nav-Corner {
    top: 26.2%;
    right: -100px;
  }

  .shop-list .list-content {
    height: 703px;
  }

  .shop-list .list-content .product-img img {
    height: auto;
  }
  .SAVED-ITEM .list-content .product-img img {
    height: 215px;
  }

  .site-header.sticky .header-bottom {
    position: absolute;
    z-index: 999;
    top: initial;
    left: 0;
    bottom: initial;
  }

  .site-header .header-bottom {
    width: 100%;
    z-index: 333;
    position: absolute;
    position: relative;
    padding-bottom: 20px;
    background: #333;
  }
  .slicknav_menu {
    display: block;
  }

  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }
  .slicknav_btn {
    background: transparent;
    padding: 0;
    margin: 6px 11px 0;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
  }
  .skill-image {
    display: none;
  }
  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
  }
  .slicknav_nav li a {
    margin: 0;
    color: #333;
    background: transparent;
    overflow: hidden;
  }
  .slicknav_nav li a i {
    display: none;
  }
  .slicknav_nav li:hover a {
    color: #8fb339;
    background: transparent;
  }
  .slicknav_nav li:hover {
    background: transparent;
  }
  .slicknav_nav li .dropdown li:hover {
    background: transparent;
  }
  .slicknav_nav li .dropdown li a {
    color: #555;
    background: transparent;
  }
  .slicknav_nav li .dropdown li a:hover {
    color: #8fb339;
    background: transparent;
  }
  .slicknav_nav li .slicknav_item {
    background: transparent;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 0;
    margin: 0;
    padding: 6px 0;
    font-weight: 500;
  }
  .slicknav_nav li:last-child a {
    padding-bottom: 0px;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #8fb339;
    box-shadow: none;
    text-shadow: none;
  }
  .slicknav_nav .slicknav_arrow {
    color: #8fb339;
  }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .slicknav_nav li .slicknav_item:hover {
    background: transparent;
  }
  .shop.single {
    padding: 20px 0 30px 0;
  }
  .header.shop .search-bar-top {
    display: none;
  }
  .header.shop .right-bar {
    display: none;
  }
  /* Header Search */
  .header.shop .search-top {
    display: block;
    position: absolute;
    right: 50px;
    top: 6px;
  }
  .header.shop .logo {
    margin-left: 11px;
  }
  .section {
    padding: 50px 0px;
  }
  .section-title {
    margin-bottom: 30px;
    padding: 0px 20px;
  }
  .section-title h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }
  .breadcrumbs {
    padding: 20px 0;
  }
  .header.shop .topbar {
    background: #8fb339;
  }

  .header.shop.v3 .topbar .inner-content {
    border: none;
    padding: 0;
  }
  .header.shop .list-main li {
    padding: 0px;
    border: none;
  }
  .header.shop .list-main li a {
    color: #fff;
    font-size: 11px;
  }
  .header.shop .list-main li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .header.shop .top-left .list-main li i {
    color: #fff;
  }
  .header.shop .list-main li i {
    color: #fff;
    margin: 0;
  }

  .header.shop .search-bar {
    width: 445px;
  }
  .header.shop .search-bar input {
    padding: 0 52px 0 20px;
    width: 264px;
  }
  .header.shop .all-category {
    display: none;
  }
  .header .header-inner {
    display: none;
  }
  .header.shop .nav li .new {
    display: none !important;
  }

  .product-area .nav-tabs .nav-item {
    margin-bottom: 10px;
  }

  .shop-home-list {
    padding-top: 0;
  }
  .shop-home-list .shop-section-title {
    margin-top: 20px;
  }
  .shop-home-list .single-list .content {
    padding: 0;
    padding: 20px;
    text-align: center;
  }

  .shop-services {
    padding: 50px 0;
  }
  .shop-services .single-service {
    padding: 42px 0 18px 0;
    text-align: center;
  }
  .shop-services .single-service i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    top: 0;
    left: 50%;
    margin-left: -20px;
  }
  .shop-services.home {
    padding: 25px 0;
  }
  .shop-newsletter .newsletter-inner input {
    width: 100%;
    height: 42px;
    padding: 0 12px 0 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  .shop-newsletter .newsletter-inner .btn {
    height: 42px;
    padding: 10px 15px;
    width: 100%;
    border-radius: 30px;
    left: 0;
    display: block;
  }

  .shop.checkout .checkout-form h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .shop.checkout .checkout-form p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .shop.checkout .single-widget.get-button .btn {
    height: auto;
    font-size: 13px;
    padding: 12px;
  }
  .shop.login .login-form h2 {
    font-size: 24px;
    margin-bottom: 8px;
    padding-bottom: 12px;
  }
  .shop.login .login-form p {
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 18px;
  }
  .shop.login .form .btn,
  .shop.login .Register .btn {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .shop.login .login-form .lost-pass {
    margin-left: 0;
  }
  .shop .single-shorter label {
    margin: 8px 5px 0 0;
  }
  .shop .nice-select {
    width: 100%;
    /* display: ; */
    margin-top: 4px;
  }
  .shop .view-mode {
    float: right;
    display: flex;
    align-items: flex-end;
  }
  .shop .view-mode li {
    display: inline-block;
    margin-right: 5px;
    display: inline-block;
    margin: 0;
    margin-top: 4px;
    width: 100%;
    display: block;
  }
  .shop .view-mode li a {
    width: 43px;
    height: 32px;
  }
  .shop-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .shop.single .rating-author {
    margin-right: 0;
  }
  .shop.single .rating-des {
    padding: 17px 20px 17px 95px;
  }
  .blog-single .blog-title {
    font-size: 20px;
    margin: 20px 0 10px 0;
  }
  .blog-single blockquote {
    padding: 15px 15px 15px 60px;
  }
  .blog-single blockquote i {
    font-size: 25px;
  }

  .blog-single .comments .single-comment.left {
    margin-left: 0;
  }
  .blog-single .reply form {
    padding: 0;
    border: none;
  }
  .blog-single .reply .form-group {
    margin-bottom: 15px;
  }
  .blog-single .reply .form-group input {
    height: 42px;
  }
  .blog-single .reply .form-group textarea {
    height: 120px;
  }
  .blog-single .reply .button .btn {
    height: 45px;
    border: none;
    padding: 0px 20px;
    width: 100%;
  }
  .pagination .pagination-list li a {
    padding: 4px 12px;
  }
  .blog-single.grid .pagination {
    float: none;
    text-align: center;
    margin-top: 12px;
  }

  .contact-us .title h4 {
    font-size: 15px;
  }
  .contact-us .title h3 {
    font-size: 18px;
  }
  .contact-us .form-main {
    padding: 0px;
    border: none;
    box-shadow: none;
  }
  .contact-us .single-head {
    padding: 0px;
    border: none;
    box-shadow: none;
    margin-top: 40px;
  }
  .contact-us .single-info {
    text-align: center;
  }
  .contact-us .single-info i {
    display: inline-block;
  }
  .contact-us .single-info .title {
    font-size: 16px;
  }
  .contact-us .form .form-group textarea {
    height: 150px;
  }
  .contact-us .form .button .btn {
    width: 100%;
  }
  .mail-success .mail-inner h2 {
    font-size: 22px;
  }
  .mail-success .mail-inner p {
    line-height: 21px;
    font-size: 13px;
  }
  .mail-success .mail-inner .btn {
    padding: 8px 28px;
  }
  .footer .footer-top {
    padding: 12px 0px;
  }
  .footer .links ul li {
    margin-bottom: 5px;
  }
  .footer .single-footer h4 {
    margin-bottom: 12px;
  }
  .footer .copyright .left {
    float: none;
    text-align: center;
  }
  .footer .copyright .right {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
  .footer .single-footer {
    padding: 12px 0;
  }
}
@media only screen and (max-width: 375px) {
  .shop-list .list-content {
    height: 635px;
  }
  .LASR-SEEN .col-3 {
    padding: 8px;
  }
  .preloader-inner {
    left: 43%;
  }
}
@media only screen and (max-width: 320px) {
  .LASR-SEEN .col-3 {
    padding: 5px;
  }
  .LASR-SEEN .card .card-body {
    padding: 2px;
  }
  .Nav-Corner {
    top: 28.2%;
  }
  .header.shop .list-main li a {
    display: none;
  }
  .header.shop .right-content .list-main .nice-select {
    width: 70px;
  }
  .SAVED-ITEM .list-content .product-img img {
    height: 185px;
  }
  .SAVED-ITEM .col-6 {
    padding: 5px;
  }
  .SAVED-ITEM .list-content {
    height: 324px;
  }
  .SAVED-ITEM .list-content .card-body .card-title {
    font-size: 9px;
  }
  .SAVED-ITEM .list-content .card-body .card-title h6 {
    font-size: 13px;
  }
  .testimonial .img img {
    width: 48%;
  }
  .shop-list .list-content {
    height: 547px;
  }
  .MAY-ALSO-LINK .card-body {
    padding: 5px;
  }
  .MAY-ALSO-LINK .product-img img {
    height: 200px;
  }
  .MAY-ALSO-LINK .list-content {
    height: 375px;
  }
  .MAY-ALSO-LINK .list-content .product-img img {
    height: 190px;
  }
  .LASR-SEEN .title {
    font-size: 20px;
  }
  .Advertisement .img .text h2 {
    font-size: 20px;
  }
  .Advertisement .img .text {
    font-size: 10px;
  }
  .Lest-Seen .card-img-top {
    height: 125px;
  }
}
